*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clear-fix{
    float:none;
    clear: both;
}

.tbl-full{
    width: 100%;
}
.tbl-50{
    width: 50%;
}
td .input{
    padding: 4%;
    width: 100%;
}

.input{
    padding: 2%;
    width: 100%;
}

table tr th{
    border-bottom: 1px solid gray;
    padding: 1%;
    text-align: center;
}

table tr td{
    padding: 2%;
    text-align: center;
}

.btn-primary{
    background-color: #1e90ff;
    padding: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary{
    background-color: #38ada9;
    padding: 2%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #079992;
}

.btn-danger{
    background-color: #e55039;
    padding: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #eb2f06;
}

.success{
    color: #38ada9;
}

.error{
    color: #b71540;
}

/* css for menu */
.menu{
    border-bottom: 1px solid gray;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
    color: #ff4757;
}

textarea{
    padding: 3%;
}


/* css for main content */
.main-content{
    background-color: rgb(241, 240, 240);
    padding: 3% 0;
}
.main-content .col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* css for footer */
.footer{
    background-color: #ff4757;
    color: white;
}

/* css for login */
.log-in{
    border: 1px solid gray;
    width:40%;
    margin: 5% auto;
    padding: 3%;
}